This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [42]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
import json
with open('keys', 'r') as f:
    API_KEY = json.load(f)['keys']['qunadl']

SHARE_LABEL = "AFX_X"
URL = f"https://www.quandl.com/api/v3/datatables/FSE/FUND.json?ticker={SHARE_LABEL}&api_key={API_KEY}"
# API doesn't work

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [1]:
# First, import the relevant modules
import requests

In [ ]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

# Implementation

In [2]:
import json, csv
import pandas as pd
import requests

In [3]:
# Read csv as dictionary
# convert to JSON
# Json to DataFrame

arr = []
with open('Tesla.csv', 'r') as f:
    csv_data = csv.DictReader(f, delimiter=",")
    for row in csv_data:
        arr.append(row)
    json_data = json.dumps(arr, indent=4)

data = json.loads(json_data )
df = pd.DataFrame(data)
df.head(3)

        Date       Open   High        Low      Close    Volume  Adj Close
0  6/29/2010         19     25  17.540001  23.889999  18766300  23.889999
1  6/30/2010  25.790001  30.42  23.299999      23.83  17187100      23.83
2   7/1/2010         25  25.92      20.27  21.959999   8218800  21.959999

In [4]:
#  Convert strings to float, drop unused column
df.drop('Adj Close', axis=1, inplace=True)
df['Open'] = df['Open'].astype(float)
df['Close'] = df['Close'].astype(float)
df['High'] = df['High'].astype(float)
df['Low'] = df['Low'].astype(float)
df['Volume'] = df['Volume'].astype(float)
df.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [20]:
#check None, 0..
df.isnull().sum()

In [19]:
df.isna().sum()

## Calculate what the highest and lowest opening prices were for the stock in this period.

In [5]:
highest_price = df.Open.max()
lowest_price = df['Open'].min()
print('highest_price ', '\t\tlowest_price\n', highest_price, "\t\t",lowest_price)

highest_price  		lowest_price
 287.670013 		 16.139999

## What was the largest change in any one day (based on High and Low price)?

In [6]:
df['daily_changes'] = df['High'] - df['Low']
df.head(3)
df[df['daily_changes'] == df['daily_changes'].max()]

,Date,Open,High,Low,Close,Volume,daily_changes
1297,8/24/2015,202.789993,231.399994,195.0,218.869995,9581600.0,36.399994

## What was the largest change between any two days (based on Closing Price)?

In [7]:
df['diff'] = df['Close'] - df['Close'].shift(-1)
df[df['diff'] == df['diff'].max()]

,Date,Open,High,Low,Close,Volume,daily_changes,diff
845,11/5/2013,180.0,181.429993,171.360001,176.809998,22467100.0,10.069992,25.649994

## What was the average daily trading volume during this year??

In [8]:
records = int(df['Date'].count())
volume = float(sum(df['Volume']))
average = round(volume / records, 3)
print('average volume', average)

average volume 4270740.898

## What was the median trading volume during this year. 
(Note: you may need to implement your own function for calculating the median.)

In [9]:

def find_median(data):
    if len(data) > 0:
        if len(data) % 2 == 0:
            return data[int(len(data)/2)]
        else:
            middle = len(data) // 2
            return (data[middle-1] + data[middle]) / 2
median = find_median(df['Volume'])
median

31071700.0